@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using TBFG.ViewModels

@model RegisterViewModel

<h2>Create your account</h2>
<hr />
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.LabelFor(user => user.Email)
    @Html.TextBoxFor(user => user.Email)

    @Html.LabelFor(user => user.Password)
    @Html.TextBoxFor(user => user.Password)

    @Html.LabelFor(user => user.ConfirmPassword)
    @Html.TextBoxFor(user => user.ConfirmPassword)

    <input type="submit" value="Register" />
}